* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-top: #009688;
  --bg-bottom: #d9dbd4;
  --header-bg: #eaeaea;
  --notification-settings-bg: #8edafc;

  --text-gray: #b1b1b1;
  --text-dark-gray: #6b7376;

  --sent-message-color: #d5f9ba;
  --received-message-color: #ffffff;
}

/* ! GENERALS */
body {
  font-family: sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-gray);
}

.App {
  height: 100svh;
  background-image: linear-gradient(var(--bg-top) 15%, var(--bg-bottom) 15%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
}

#content {
  grid-area: main;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 34% 66%;
}

section {
  height: 100%;
}

#contacts {
  background-color: var(--text-dark-gray);
}

#chat {
  background-color: var(--text-gray);
}

// MEDIA

@media screen and (min-width: 768px) {
  .App {
    grid-template-columns: 1fr 720px 1fr;
    grid-template-rows: 5vh auto 5vh;
    grid-template-areas:
      ". . ."
      ". main .";
  }
}

@media screen and (min-width: 992px) {
  .App {
    grid-template-columns: 1fr 960px 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    grid-template-columns: 1fr 1140px 1fr;
  }
}

@media screen and (min-width: 1400px) {
  .App {
    grid-template-columns: 1fr 1320px 1fr;
  }
}
